*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-font:2em;
    --main-btn:red;
    --main-color:blue;
}
 ul{
    list-style: none;
 }
 a {
    text-decoration: none;
 }
 body {
    font-size: 16px;
 }
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width:768px){
    .container{
        width: 750px;
    }
}
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* ============ header ============== */
header{
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h2{
    font-size: 1.5em;
}
.img-header{
    width: 2.5em;
    height: 2.5em;
}
.img-header img{
    width: 100%;
    border-radius: 50%;
}
header form {
    position: relative;
    width: 75%;
}

header form input::placeholder{
    color: var(--main-color);
    opacity: 50%;
    font-size: 0.7em;
}
header form input[type="text"]:focus{
outline: none;
}
header form input[type="submit"]{
    font-size: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left:6em;
    border-radius: 2em;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    background-color: var(--main-color);
    border: none;
}
 @media(max-width:767px){
    header form input[type="text"]{
        display: none;
    }
    
    header form i{
        display: none;
    }
    header form {
        text-align: center;
        width: 50%;
    }
    header form input[type="submit"]{

        margin-left:0em;

    }
}
 @media(min-width:992px) {
    header form input[type="text"]{
        width: 60%;
        font-size: 1em;
        padding-left: 3em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-radius: 2em;
        border: none;
        background-color: rgb(243, 241, 241);
    }
    header form {
        padding-left: 6.5em;
    }
    header form i{
        position: absolute;
        left: 7.2em;
    }
}
 @media(min-width:768px) and (max-width:991px){
    header form input::placeholder{       
        font-size: 0.75em;
    }
    header form {
        text-align: center;
        width: 70%;
    }
    header form input[type="text"]{
        width: 100%;
        font-size: 0.8em;
        padding-left: 3em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-radius: 2em;
        border: none;
        background-color: rgb(243, 241, 241);
    }
    header form i{
        position: absolute;
        left: 1em;
    }
}
 @media(min-width:768px) {
    header form {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
/* =========== end header ================= */

/* ==============start main ================== */
.main {
    padding-top: 2em;
    background-color: rgb(243, 241, 241);
}


@media(min-width:768px){
    .main .container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}
/* ================= left ===================== */


.acc-name {
    border-radius: 10px;
    padding: 1em;
    background-color: white;
    margin-bottom: 1em;
}
.acc-id {
    padding-left: 1em;
}
.acc-img {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
}
.acc-img img{
    width: 100%;
    border-radius: 50%;
}
.toolbar-container {
    background-color: white;
    border-radius: 10px;
    position: relative;
    /* overflow: hidden; */
    margin-bottom: 1em;
}

.toolbar.active {
    background-color: rgb(243, 241, 241);
    
}
.toolbar {
   transition: 0.3s ease;
}
.toolbar:hover {
    background-color: rgb(243, 241, 241);
}
.toolbar:hover span{
    color: var(--main-color);
}
.toolbar.active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    height: 100%;
    width: 4px;
    transition: 0.3s ease;
}
/* .toolbar span{
    padding-left: 2em;
    color: black;
    font-weight: 500;
} */
.toolbar i{
    font-size: 1.3em;
    color: rgb(151, 142, 142);
    position: relative;

}
.toolbar-container .toolbar:nth-of-type(3) i{
    position: relative;
}
.toolbar-container .toolbar:nth-of-type(4) i{
    position: relative;
}
.toolbar-container .toolbar:nth-of-type(3) i span{
    position: absolute;
    display: inline-block;
    right: 0;
    top: -0.5em;
    color: white;
    background-color: red;
    text-align: center;
    border-radius: 2em;
    font-size: 0.5em;
    padding: 0.25em 0.5em;
}
.toolbar-container .toolbar:nth-of-type(4) i span{
    position: absolute;
    display: inline-block;
    right: 0;
    top: -0.5em;
    color: white;
    background-color: red;
    text-align: center;
    border-radius: 1em;
    font-size: 0.5em;
    padding: 0.25em 0.5em;
}
.left button {
    width: 100%;
    padding: 1em 2em;
    color: white;
    background-color: var(--main-color);
    border-radius: 5em;
    border: none;
    cursor: pointer;
    font-size: 1em;
}
@media(min-width:992px){
    .acc-name {
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 1em;
        background-color: white;
        margin-bottom: 1em;
    }
    .left {
        flex-basis: 25%;
    }
    .toolbar span{
        padding-left: 2em;
        color: black;
        font-weight: 500;
    }
    .toolbar {
        display: flex;
        padding: 1em 2em;
        position: relative;
    }
}
@media(min-width:768px) and (max-width:991px){
    .acc-name {
        display: none;
    }
    .left {
        flex-basis: 8%;
    }
    .toolbar span{
        display: none;
    }
    .toolbar {
        display: flex;
        padding: 1em ;
        position: relative;
        justify-content: center;
    }
    .left button {
        display: none;
    }
}
@media(min-width:768px){
    /* .acc-name {
        display: none;
    } */
    .toolbar span{
        padding-left: 2em;
        color: black;
        font-weight: 500;
    }
    
}
@media(max-width:767px){
    .acc-name {
        display: none;

    }
    .left {
       position: fixed;
       right: 0;
       z-index: 3;
       width: 3em;
    }
    .toolbar {
        display: flex;
        justify-content: center;
    }
    .toolbar span{
        display: none;
    }
    .toolbar {
        display: flex;
        padding: 0.7em ;
        position: relative;
    }
    
    .left button {
        display: none;
    }
}
.note-content {
    position: absolute;
    padding: 1em;
    background-color: white;
    border-radius: 7px;
    z-index: 5;
    display: none;
}
.note-content.active {

    display: block;
}
.note-content::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0.5em;
}
@media(min-width:992px){
    .note-content{
        top: 0;
        left: calc(100% + 1em);
        width: 40vw;
    }
    .note-content::before{
        border-top: 1em solid transparent;
        border-bottom: 1em solid transparent;
        border-right: 1em solid white;
        border-left: 1em solid transparent;
        right: 100%;
        top: 0.5em;
    }
}
@media(min-width:768px) and (max-width:991px){
    .note-content{
        top: 0;
        left: calc(100% + 1em);
        width: 50vw;
    }
    .note-content::before{
        border-top: 1em solid transparent;
        border-bottom: 1em solid transparent;
        border-right: 1em solid white;
        border-left: 1em solid transparent;
        right: 100%;
        top: 0.5em;
    }
}
@media(max-width:767px){
    .note-content{
        top: 0;
        right: calc(100% + 1em);
        width: 50vw;
    }
    .note-content::before{
        border-top: 1em solid transparent;
        border-bottom: 1em solid transparent;
        border-right: 1em solid transparent;
        border-left: 1em solid white;
        left: 100%;
        top: 0.5em;
    }
}
.row-content {
    display: flex;
    margin-bottom: .7em;
}
.row-content img {
    width: 2.3em;
    height: 2.3em;
    border-radius: 50%;
}
.note-detail {
    padding-left: 1em;
}
.note-detail p{
    font-size: 0.8em;
}
.note-detail p:nth-of-type(2){
    color: rgba(139, 134, 134, 0.63);
}
/* ============= end left ================= */
/* ================ start middle =============== */
.middle {
    flex-basis: 50%;
}

.story-users{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.img-story-users{
    flex-basis: 16%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    min-height: 138px;
}
.img-story-users p{
    color: white;
    font-size: 0.7em;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.img-story-users >img{
    width: 100%;
    display: block;
    min-height: 138px;
}
.img-story-users .user-profile{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    height: 2em;
    width: 2em;
    
}
.img-story-users .user-profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid rgba(212, 0, 255, 0.753);
}
/* ===============middle input ========== */

.middle form  {
    position: relative;
    margin-top: 1em;
}
.middle form input {
    width: 100%;
    font-size: 1em;
    padding: 0.5em 3.5em;
    border-radius: 5em;
    border: none;
}
.middle form input:focus {
    outline: none;
}
.middle form img {
    position: absolute;
    border-radius: 50%;
    width: 2em;
    left: 0.5em;
    top: 50%;
    transform: translateY(-50%);
}
.middle form button {
    position: absolute;
    color: white;
    padding: 0.5em 1.2em;
    background-color: var(--main-color);
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 4em;
    font-size: 1em;
}
/* ================middle post ============ */
.card {
    padding: 0.7em;
    width: 100%;
    background-color: white;
    margin-top: 0.7em;
    border-radius: 7px;
}
.card-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.7em;
}
.post-date {
    display: flex;
}
.post-date img{
    border-radius: 50%;
    width: 3em;
    height: 3em;
}
.post-date .friend-name{
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.post-date .friend-name h3{
    font-size: 1.1em;
}
.post-date .friend-name p{
    font-size: 0.75em;
}
.card>img {
    display: block;
    width: 100%;
    border-radius: 7px;
}
.card-tools {
    display: flex;
    justify-content: space-between;
    padding: 0.7em 0.4em;
}
.likes i{
    margin-right: 0.8em;
}
.post-likes {
    display: flex;
    align-items: center;
    position: relative;
}
.post-likes img{
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}
.post-likes img:nth-of-type(2){
    position: absolute;
    left: 1em;
}
.post-likes img:nth-of-type(3){
    position: absolute;
    left: 2em;
}
.post-likes span{
    display: inline-block;
    padding-left: 3.7em;
    font-size: 0.6em;
}
.card-bottom > p {
    padding-top: 0.6em;
    font-size: 0.8em;
}
/* ================ end middle ============ */
/* =============START right =========== */
.right {
    flex-basis: 20%;
    min-height: 100vh;
}
@media(max-width:767px){
    .right{
        display: none;
    }
}
.messages{
    background-color: white;
    border-radius: 10px;
    padding: 1em 0.7em;
}
.messages.active{
    box-shadow: 1px 1px 5px 2px;
}
.messages-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}
.messages-top h3{
    font-size: 1em;
}
.messages-top i{
    font-size: 1em;
}
.messages-input{
    position: relative;
    margin-bottom: 1em;
}
.messages-input input{
    width: 100%;
    padding: 0.7em 0.2em 0.7em 4em;
    font-size: 0.75em;
    border-radius: 10em;
    background-color: rgb(243, 241, 241);
    border: none;
}
.messages-input input:focus{
    outline: none;
}
.messages-input i{
    position: absolute;
    left: 0.7em;
    top: 50%;
    transform: translateY(-50%);
}
.messages-filter{
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-bottom: 1em;
    border-bottom: 1.5px solid rgb(243, 241, 241);
}
.messages-filter li{
    height: 30px;
}
.messages-filter h3{
    font-size: 0.75em;
    height: 30px;
}
.messages-filter li.active{
    border-bottom: 1.5px solid black;
}
.messages-in-name{
    display: flex;
    padding-bottom: 1em;
    position: relative;
}
.messages-in-name .active{
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
    background-color: green;
    left: 1.5em;
    top: 1.5em;
}
.messages-in-name img{
    width: 2em;
    height: 2em;
    border-radius: 50%;
}
.message-info {
    padding-left: 1em;
}
.messages-in-name h3{
    font-size: 0.75em;
}
.messages-in-name p{
    font-size: 0.6em;
}
/* =========== right request ========== */
.right > h3 {
    padding-top: 1em;
    padding-bottom: 1em;
    color: rgb(95, 92, 92);
}
.request {
    background-color: white;
    padding-top: 1em;
    padding-left: 1em;
    border-radius: 7px;
    margin-bottom: 1em;
}
.right .buttons {
    display: flex;
    padding-bottom: 1em;
    justify-content: flex-start;
    gap: 2em;
}
.right .buttons button{
    padding: 0.5em 1.5em;
    border-radius: 5em;
    border: none;
    font-size: 1em;
}
.right .buttons button.active{
    background-color: var(--main-color);
    color: white;
}
/* =========== end right ============ */
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    background-color: rgba(42, 44, 44, 50%);
    display: none;
}
.overlay.active {
    display: block;
}
.setting {
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: white;
    padding: 1.5em;
    border-radius: 10px;
    z-index: 100;
    display: none;
}
@media(max-width:767px){
    .setting{
        width: 90%;
    }
    .color-background span{
        width: 0.8em;
        height: 0.8em;
        margin-right: 0.1em;
    }
}
@media(min-width:768px) and (max-width:991px){
    .setting{
        width: 80%;
    }
    .color-background span{
        width: 2em;
        height: 2em;
        margin-right: 1em;
    }
}
@media(min-width:992px) {
    .setting{
        width: 50%;
    }
    .color-background span{
        width: 2em;
        height: 2em;
        margin-right: 1em;
    }
}
.setting.active {
    display: block;
}
.setting-top  {
    padding-bottom: 3em;
}
.setting-top h3 {
    font-size: 1.5em;
}
.setting-top p {
    font-size: 1em;
    color: rgb(107, 105, 105);
}
.font-colors span {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.664);
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.font-colors span.active {
    background-color: var(--main-color);
}
.setting-font {
    margin-bottom: 2em;
}
.setting-font h3{
    font-size: 0.8em;
}

.font-colors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5em;
    padding: 0.3em;
    background-color: rgb(243, 241, 241);
}
.font-colors h5{
    padding-left: 1em;
}
.font-colors h2{
    padding-right: 1em;
    font-size: 1.2em;
}
.font-circ{
    flex-basis: 80%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.font-circ::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.664);
}

.setting-colors {
    margin-bottom: 2em;
}
.colors-circ{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5em;
    padding: 1em;
    background-color: rgb(243, 241, 241);
    position: relative;
}

.setting-colors span {
    display: block;
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.setting-colors span:nth-of-type(1) {
    background-color: blue;
}
.setting-colors span:nth-of-type(2) {
    background-color: yellow;
}
.setting-colors span:nth-of-type(3) {
    background-color: rgb(255, 102, 0);
}
.setting-colors span:nth-of-type(4) {
    background-color: rgb(9, 255, 0);
}
.setting-colors span:nth-of-type(5) {
    background-color: rgb(0, 238, 255);
}
.setting-colors span.active {
    border: 4px solid rgb(24, 23, 23);
}

.setting-background {
    display: flex;
    justify-content: space-between;
}
.color-background{
    display: flex;
    align-items: center;
    padding: 1em;
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.color-background:nth-of-type(1){
    background-color: white;
}
.color-background:nth-of-type(2){
    background-color: rgb(9, 9, 51);
}
.color-background:nth-of-type(3){
    background-color: black;
}
.color-background.active{
    border-color: var(--main-color);
}
.color-background span{
    display: block;
    border: 1px solid ;
    border-radius: 50%;

    background-color: transparent;
}
.color-background:nth-of-type(1) span{
    border-color: black;
}
.color-background:nth-of-type(2) span{
    border-color: white;
}
.color-background:nth-of-type(3) span{
    border-color: white;
}
.color-background:nth-of-type(1) p{
    color: black;
}
.color-background:nth-of-type(2) p{
    color: white;
}
.color-background:nth-of-type(3) p{
    color: white;
}